*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    height: 100vh;
    width: 100%;
    align-items: center;
    background-color:#3B4664;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.divinput{
    height: 15%;
    margin-top: 30px;
}
.input::placeholder{
    color:white;
}
.input {
    height: 80%;
    width: 330px;
    background-color:#181F32;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 55px;
    font-weight: 700; 
    text-align: right;
    padding-right: 20px;
}
h1 {
    font-weight: 800;
    font-size: 28px;
    color: white;
    font-family: Inter;
    margin-bottom: 5px;
    margin-right: 278px;
}
.btncontainer{
    width: 330px;
    height: 330px;
    border-radius: 10px;
    background-color: #252D44;
    }
.gridcontainer {
    display: grid;
    grid-template-columns: repeat(4,60px);
    grid-template-rows:repeat(4,40px) ;
    column-gap: 15px;
    row-gap: 15px;
    padding-top: 20px;
    padding-left: 20px;
}
.button{
    border: none;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 800px;
    color: #3B4664;

}
.flexcontainer{
    display: flex;
    gap:15px;
    margin-top: 15px;
    margin-left: 20px;
}
.flexcontainer .button {
    height: 40px;
    width: 135px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 10px;
}
#del, #reset {
    background: #647299;
    border: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    border-radius: 10px;
}
#equal {
    background: #D13F30;
    border: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    border-radius: 10px;
}